<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>{{aboutus_title}}</title>

    <!-- Favicon  -->
    <link rel="icon" href="img/core-img/favicon.ico">

    <!-- Core Style CSS -->
    <link rel="stylesheet" href="css/core-style.css">
    <link rel="stylesheet" href="style.css">

    <!-- Responsive CSS -->
    <link rel="stylesheet" href="css/responsive.css">

</head>

<body>
    <!-- Preloader -->
    <div id="preloader">
        <div class="medica-load"></div>
        <img src="img/core-img/plus.png" alt="logo">
    </div>

    <!-- ***** Header Area Start ***** -->
    <header class="header-area">
        <!-- Top Header Area -->
        <div class="top-header-area gradient-background">
            <div class="container h-100">
                <div class="row h-100">
                    <div class="col-12 h-100">
                        <div class="h-100 d-md-flex justify-content-between align-items-center">
                            <div class="top-header-social-info">
                                <a href="#" data-toggle="tooltip" data-placement="left" title="Pinterest"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                                <a href="#" data-toggle="tooltip" data-placement="left" title="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a href="#" data-toggle="tooltip" data-placement="left" title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                <a href="#" data-toggle="tooltip" data-placement="left" title="Dribbble"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
                                <a href="#" data-toggle="tooltip" data-placement="left" title="Behance"><i class="fa fa-behance" aria-hidden="true"></i></a>
                                <a href="#" data-toggle="tooltip" data-placement="left" title="Linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            </div>
                            <div class="top-header-menu">
                                <nav class="top-menu">
                                    <ul>
                                        <li><a href="#">FAQ</a></li>
                                        <li><a href="#">Book</a></li>
                                        <li><a href="#">Appointment</a></li>
                                        <li><a href="#">Contacts</a></li>
                                        <li><a href="#">{{contact_email}}</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Main Header Area -->
        <div class="main-header-area" id="stickyHeader">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12 h-100">
                        <div class="main-menu h-100">
                            <nav class="navbar h-100 navbar-expand-lg">
                                <!-- Logo Area  -->
                                <a class="navbar-brand" href="index.html"><img src="img/core-img/logo.png" alt="Logo"></a>

                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#medicaMenu" aria-controls="medicaMenu" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i> Menu</button>

                                <div class="collapse navbar-collapse" id="medicaMenu">
                                    <!-- Menu Area -->
                                    <ul class="navbar-nav ml-auto">
                                        <li class="nav-item active">
                                            <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                                        </li>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pages</a>
                                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                <a class="dropdown-item" href="index.html">{{tag_linkname_home}}</a>
                                                <a class="dropdown-item" href="about-us.html">{{tag_linkname_aboutus}}</a>
                                                <a class="dropdown-item" href="services.html">{{tag_linkname_services}}</a>
                                                <a class="dropdown-item" href="blog.html">{{tag_linkname_blog}}</a>
                                                <a class="dropdown-item" href="contact.html">{{tag_linkname_contact}}</a>
                                                <a class="dropdown-item" href="elements.html">{{tag_linkname_elements}}</a>
                                            </div>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="about-us.html">{{tag_linkname_aboutus}}</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="services.html">{{tag_linkname_services}}</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="blog.html">{{tag_linkname_blog}}</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="contact.html">{{tag_linkname_contact}}</a>
                                        </li>
                                    </ul>
                                    <!-- Search Form -->
                                    <div class="header-search-form ml-auto">
                                        <form action="#">
                                            <input type="search" class="form-control" placeholder="Input your keyword then press enter..." id="search" name="search">
                                            <input class="d-none" type="submit" value="submit">
                                        </form>
                                    </div>
                                    <!-- Search btn -->
                                    <div id="searchbtn">
                                        <i class="ti-search" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Hero Area Start ***** -->
    <section class="hero-area">
        <div class="hero-slides owl-carousel">
            <!-- Single Hero Slide -->
            <div class="single-hero-slide height-800 bg-img" style="background-image: url(img/bg-img/hero1.jpg);">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12">
                            <div class="hero-slides-content">
                                <h2 data-animation="fadeInUp" data-delay="100ms">{{noKey}}<br>Care</h2>
                                <h5 data-animation="fadeInUp" data-delay="400ms"></h5>
                                <div class="slide-btn-group mt-50" data-animation="fadeInUp" data-delay="700ms">
                                    <a href="#" class="btn medica-btn">Make an Appointment</a>
                                    <a href="#" class="btn medica-btn ml-2 btn-2">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Hero Slide -->
            <div class="single-hero-slide height-800 bg-img" style="background-image: url(img/bg-img/hero1.jpg);">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12">
                            <div class="hero-slides-content">
                                <h2 data-animation="fadeInUp" data-delay="100ms">Preventive<br>approach</h2>
                                <h5 data-animation="fadeInUp" data-delay="400ms">More than 30 professionals</h5>
                                <div class="slide-btn-group mt-50" data-animation="fadeInUp" data-delay="700ms">
                                    <a href="#" class="btn medica-btn">Make an Appointment</a>
                                    <a href="#" class="btn medica-btn ml-2 btn-2">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Hero Slide -->
            <div class="single-hero-slide height-800 bg-img" style="background-image: url(img/bg-img/hero1.jpg);">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12">
                            <div class="hero-slides-content">
                                <h2 data-animation="fadeInUp" data-delay="100ms">{{tag_slide_text1}}</h2>
                                <h5 data-animation="fadeInUp" data-delay="400ms">{{tag_slide_text2}}</h5>
                                <div class="slide-btn-group mt-50" data-animation="fadeInUp" data-delay="700ms">
                                    <a href="#" class="btn medica-btn">{{tag_slide_button1}}</a>
                                    <a href="#" class="btn medica-btn ml-2 btn-2">{{tag_slide_button2}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Hero Area End ***** -->

    <!-- ***** Contact Info Area Start ***** -->
    <div class="medica-contact-info-area">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-contact-info d-flex align-items-center">
                        <div class="contact-icon mr-30">
                            <img src="img/icons/alarm-clock.png" alt="">
                        </div>
                        <div class="contact-meta">
                            <p>
                            {{tag_hours}}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-contact-info d-flex align-items-center">
                        <div class="contact-icon mr-30">
                            <img src="img/icons/envelope.png" alt="">
                        </div>
                        <div class="contact-meta">
                            <p>{{tag_main_phone}}<br> {{tag_main_email}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-contact-info d-flex align-items-center">
                        <div class="contact-icon mr-30">
                            <img src="img/icons/map-pin.png" alt="">
                        </div>
                        <div class="contact-meta">
                            <p>{{tag_main_address}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Contact Info Area End ***** -->

    <!-- ***** About Us Area Start ***** -->
    <section class="medica-about-us-area">
        <!-- Card Area -->
        <div class="medica-card-area">
            <div class="container">
                <div class="row no-gutters">
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="medica-emergency-card wow fadeInUp" data-wow-delay="0.2s">
                            <h5>{{tag_for_emergencies_text}}</h5>
                            <h4>{{tag_emergency_phone}}</h4>
                            <p>{{tag_emergency_message}}</p>
                            <a href="#">Read More</a>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="medica-doctors-card wow fadeInUp" data-wow-delay="0.4s">
                            <h5>{{tag_the_doctors_header}}</h5>
                            <p>{{tag_the_doctors_text}}</p>
                            <a href="#">{{tag_linkname_read_more}}</a>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <div class="medica-appointment-card wow fadeInUp" data-wow-delay="0.6s">
                            <h5>{{tag_book_appointment_header}}</h5>
                            <form action="#" method="post">
                                <div class="form-group">
                                    <input type="text" class="form-control text-white" name="name" id="name" placeholder="Name">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="number" id="number" placeholder="Phone">
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" name="email" id="email" placeholder="E-mail">
                                </div>
                                <button type="submit" class="btn medica-btn mt-15">{{tag_button_make_appointment}}</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About Contact -->
        <div class="medica-about-content section_padding_100">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-7">
                        <div class="medica-about-text">
                            <h2>{{tag_about_us_header}}</h2>
                            <p>{{tag_about_us_text}}</p>
                            <ul>
                                {{tag_about_us_list_items}}
                            </ul>
                            <a href="#" class="btn medica-btn btn-2">Read More</a>
                        </div>
                    </div>
                    <div class="col-12 col-lg-5">
                        <div class="medica-about-thumbnail">
                            <img src="img/bg-img/doctor.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** About Us Area End ***** -->

    <!-- ***** Services Area Start ***** -->
    <section class="medica-services-area section_padding_100 bg-img gradient-background-overlay" style="background-image: url(img/bg-img/service.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section_heading white-heading">
                        <img src="img/icons/hospital2.png" alt="">
                        <h2>Our Services</h2>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-service-area wow fadeInUp" data-wow-delay="0.2s">
                        <img src="img/icons/hospital.png" alt="">
                        <h5>Ambulatory Care</h5>
                        <p>Phasellus at nunc orci. Donec ipsum metus, pharetr a quis nunc sit amet, maximus vehicula nibh.</p>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-service-area wow fadeInUp" data-wow-delay="0.3s">
                        <img src="img/icons/blood.png" alt="">
                        <h5>Laboratory</h5>
                        <p>Phasellus at nunc orci. Donec ipsum metus, pharetr a quis nunc sit amet, maximus vehicula nibh.</p>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-service-area wow fadeInUp" data-wow-delay="0.4s">
                        <img src="img/icons/ambulance.png" alt="">
                        <h5>Ambulance Service</h5>
                        <p>Phasellus at nunc orci. Donec ipsum metus, pharetr a quis nunc sit amet, maximus vehicula nibh.</p>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-service-area wow fadeInUp" data-wow-delay="0.5s">
                        <img src="img/icons/nuclear.png" alt="">
                        <h5>Radiology</h5>
                        <p>Phasellus at nunc orci. Donec ipsum metus, pharetr a quis nunc sit amet, maximus vehicula nibh.</p>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-service-area wow fadeInUp" data-wow-delay="0.6s">
                        <img src="img/icons/emergency-call.png" alt="">
                        <h5>Emergency Care</h5>
                        <p>Phasellus at nunc orci. Donec ipsum metus, pharetr a quis nunc sit amet, maximus vehicula nibh.</p>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4 wow fadeInUp" data-wow-delay="0.7s">
                    <div class="single-service-area">
                        <img src="img/icons/medicine.png" alt="">
                        <h5>Pharmacy</h5>
                        <p>Phasellus at nunc orci. Donec ipsum metus, pharetr a quis nunc sit amet, maximus vehicula nibh.</p>
                    </div>
                </div>

                <div class="col-12 text-center wow fadeInUp" data-wow-delay="0.9s">
                    <a href="#" class="btn medica-btn">See All Services</a>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Services Area End ***** -->

    <!-- ***** Doctors Area Start ***** -->
    <section class="medica-doctors-area section_padding_100_20">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section_heading">
                        <img src="img/icons/doctor.png" alt="">
                        <h2>{{tag_our_doctors_header}}</h2>
                        <p>{{tag_our_doctors_paraghraph}}</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-doctor-area">
                        <div class="doctor-thumbnail">
                            <img src="img/bg-img/d1.jpg" alt="">
                        </div>
                        <div class="doctor-meta">
                            <h5>{{tag_doctor1_name}}</h5>
                            <h6>{{tag_doctor1_title}}</h6>
                            <div class="doctor-social-info">
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-doctor-area">
                        <div class="doctor-thumbnail">
                            <img src="img/bg-img/d2.jpg" alt="">
                        </div>
                        <div class="doctor-meta">
                            <h5>Dr. Josh Henderson</h5>
                            <h6>Plastic Surgeon</h6>
                            <div class="doctor-social-info">
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-doctor-area">
                        <div class="doctor-thumbnail">
                            <img src="img/bg-img/d3.jpg" alt="">
                        </div>
                        <div class="doctor-meta">
                            <h5>Dr. Christinne Jones</h5>
                            <h6>Pediatrist</h6>
                            <div class="doctor-social-info">
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-doctor-area">
                        <div class="doctor-thumbnail">
                            <img src="img/bg-img/d4.jpg" alt="">
                        </div>
                        <div class="doctor-meta">
                            <h5>Dr. William Stan</h5>
                            <h6>General Practicioner</h6>
                            <div class="doctor-social-info">
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                 -->
            </div>
        </div>
    </section>
    <!-- ***** Doctors Area End ***** -->

    <!-- ***** Testimonials Area Start ***** -->
    <section class="medica-testimonials-area section_padding_100 bg-img background-overlay" style="background-image: url(img/bg-img/hero2.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section_heading white-heading">
                        <img src="img/icons/stethoscope.png" alt="">
                        <h2>{{tag_testimonials_header}}</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="testimonials-slider owl-carousel">
            <!-- Single Testimonials Slide -->
            <div class="single-testimonial-slide">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h6>{{tag_testimonial1}}</h6>
                            <div class="testimonial-given-author-info">
                                <img src="img/bg-img/testimonials2.jpg" alt="">
                                <h6>{{tag_testimonial1_name}}</h6>
                                <p>{{tag_testimonial1_title}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Testimonials Slide -->
            <div class="single-testimonial-slide">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h6>{{tag_testimonial2}}</h6>
                            <div class="testimonial-given-author-info">
                                <img src="img/bg-img/testimonials2.jpg" alt="">
                                <h6>{{tag_testimonial2_name}}</h6>
                                <p>{{tag_testimonial2_title}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Testimonials Slide -->
            <div class="single-testimonial-slide">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h6>{{tag_testimonial3}}</h6>
                            <div class="testimonial-given-author-info">
                                <img src="img/bg-img/testimonials2.jpg" alt="">
                                <h6>{{tag_testimonial3_name}}</h6>
                                <p>{{tag_testimonial3_title}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Testimonials Area End ***** -->

    <!-- ***** CTA Area Start ***** -->
    <section class="medica-call-to-action section_padding_50_0 gradient-background">
        <div class="container">
            <div class="row">
                <!-- Single Cool Fact-->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-cool-fact wow fadeIn" data-wow-delay="0.2s">
                        <div class="counter-area">
                            <h2><span class="counter">8723</span></h2>
                            <h6>Pacients since opening</h6>
                        </div>
                    </div>
                </div>
                <!-- Single Cool Fact-->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-cool-fact wow fadeIn" data-wow-delay="0.6s">
                        <div class="counter-area">
                            <h2><span class="counter">120</span></h2>
                            <h6>Specialist Doctors </h6>
                        </div>
                    </div>
                </div>
                <!-- Single Cool Fact-->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-cool-fact wow fadeIn" data-wow-delay="1s">
                        <div class="counter-area">
                            <h2><span class="counter">12</span></h2>
                            <h6>Years of Experience</h6>
                        </div>
                    </div>
                </div>
                <!-- Single Cool Fact-->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-cool-fact wow fadeIn" data-wow-delay="1.4s">
                        <div class="counter-area">
                            <h2><span class="counter">83</span></h2>
                            <h6>Pro Bono Works</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** CTA Area End ***** -->

    <!-- ***** Appointment Area Start ***** -->
    <section class="medica-book-an-appointment-area section_padding_100_0">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-lg-6">
                    <div class="medica-appointment-card">
                        <h5>Book an apppointment</h5>

                        <form action="#" method="post">
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control text-white" name="name" id="appointmentName" placeholder="Name">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                                        <select class="form-control" id="speciality">
                                            <option>Speciality 1</option>
                                            <option>Speciality 2</option>
                                            <option>Speciality 3</option>
                                            <option>Speciality 4</option>
                                            <option>Speciality 5</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="number" id="appointmentNumber" placeholder="Phone">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                                        <select class="form-control" id="doctors">
                                            <option>Dr. Riyadh Khan</option>
                                            <option>Dr. Kumkum Rashid</option>
                                            <option>Dr. Lim Sarah</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <input type="email" class="form-control" name="email" id="appointmentEmail" placeholder="E-mail">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                        <input type="date" class="form-control" name="date" id="date">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button type="submit" class="btn medica-btn mt-15">Make an Appointment</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="col-12 col-lg-6">
                    <div class="medica-appointment-thumb">
                        <img src="img/bg-img/medical1.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Appointment Area End ***** -->

    <!-- ***** Partners Area Start ***** -->
    <div class="medica-our-partners-area section_padding_100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="our-partners-logo d-flex align-items-center justify-content-between">
                        <a href="#"><img src="img/partners-img/1.png" alt=""></a>
                        <a href="#"><img src="img/partners-img/2.png" alt=""></a>
                        <a href="#"><img src="img/partners-img/3.png" alt=""></a>
                        <a href="#"><img src="img/partners-img/4.png" alt=""></a>
                        <a href="#"><img src="img/partners-img/5.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Partners Area End ***** -->

    <!-- ***** Footer Area Start ***** -->
    <footer class="footer-area">
        <!-- Main Footer Area -->
        <div class="main-footer-area section_padding_100 bg-default">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-6 col-xl-3">
                        <div class="footer-widget-area">
                            <div class="footer-logo">
                                <img src="img/core-img/footer-logo.png" alt="">
                            </div>
                            <p>Phasellus at nunc orci. Donec ipsum metus, pharetra quis nunc sit amet, maximus vehicula nibh. Praesent pulvinar porta elit, a commodo erat accumsan sed. Vivamus vel tristique nibh.</p>
                            <div class="footer-social-info">
                                <a href="#" data-toggle="tooltip" data-placement="top" title="Pinterest"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                                <a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                <a href="#" data-toggle="tooltip" data-placement="top" title="Dribbble"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
                                <a href="#" data-toggle="tooltip" data-placement="top" title="Behance"><i class="fa fa-behance" aria-hidden="true"></i></a>
                                <a href="#" data-toggle="tooltip" data-placement="top" title="Linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-xl-3">
                        <div class="footer-widget-area">
                            <div class="widget-title">
                                <h6>Latest News</h6>
                            </div>
                            <div class="widget-blog-post">
                                <!-- Single Blog Post -->
                                <div class="widget-single-blog-post d-flex">
                                    <div class="widget-post-thumbnail pr-2">
                                        <img src="img/bg-img/fp1.jpg" alt="">
                                    </div>
                                    <div class="widget-post-content">
                                        <a href="#">A big discovery for medicine</a>
                                        <p>Dec 02, 2017</p>
                                    </div>
                                </div>
                                <!-- Single Blog Post -->
                                <div class="widget-single-blog-post d-flex">
                                    <div class="widget-post-thumbnail pr-2">
                                        <img src="img/bg-img/fp2.jpg" alt="">
                                    </div>
                                    <div class="widget-post-content">
                                        <a href="#">Dentistry for everybody</a>
                                        <p>Dec 02, 2017</p>
                                    </div>
                                </div>
                                <!-- Single Blog Post -->
                                <div class="widget-single-blog-post d-flex">
                                    <div class="widget-post-thumbnail pr-2">
                                        <img src="img/bg-img/fp3.jpg" alt="">
                                    </div>
                                    <div class="widget-post-content">
                                        <a href="#">When it’s time to take pills</a>
                                        <p>Dec 02, 2017</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-xl-3">
                        <div class="footer-widget-area">
                            <div class="widget-title">
                                <h6>Usefull links</h6>
                            </div>
                            <ul>
                                <li><a href="#">FAQ</a></li>
                                <li><a href="#">Book an Appointment</a></li>
                                <li><a href="#">Contacts</a></li>
                                <li><a href="#">Testimonials</a></li>
                                <li><a href="#">Doctors</a></li>
                                <li><a href="#">Services</a></li>
                                <li><a href="#">Our Partners</a></li>
                                <li><a href="#">Emergency Cases</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-xl-3">
                        <div class="footer-widget-area">
                            <div class="widget-title">
                                <h6>contact us</h6>
                            </div>

                            <div class="widget-contact">
                                <!-- Single Contact Info -->
                                <div class="widget-single-contact d-flex align-items-center">
                                    <div class="widget-contact-thumbnail mr-15">
                                        <img src="img/icons/alarm-clock.png" alt="">
                                    </div>
                                    <div class="widget-contact-info">
                                        <p>
                                          <p>M - F 9:00 AM - 5:00 PM
                                            <br>
                                            Saturday 9:00 AM - 1:00 PM
                                          </p>
                                    </div>
                                </div>
                                <!-- Single Contact Info -->
                                <div class="widget-single-contact d-flex align-items-center">
                                    <div class="widget-contact-thumbnail mr-15">
                                        <img src="img/icons/map-pin.png" alt="">
                                    </div>
                                    <div class="widget-contact-info">
                                        <p>W, 939 El Camino Real #109, <br>Sunnyvale, CA 94087</p>
                                    </div>
                                </div>
                                <!-- Single Contact Info -->
                                <div class="widget-single-contact d-flex align-items-center">
                                    <div class="widget-contact-thumbnail mr-15">
                                        <img src="img/icons/envelope.png" alt="">
                                    </div>
                                    <div class="widget-contact-info">
                                        <p>(408) 297-9949  <br>dee@doctorforchild.com</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bottom Footer Area -->
        <div class="bottom-footer-area">
            <div class="container h-100">
                <div class="row h-100">
                    <div class="col-12 h-100">
                        <div class="bottom-footer-content h-100 d-md-flex align-items-center justify-content-between">
                            <!-- Copywrite Text -->
                            <div class="copywrite-text">
                                <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                            </ul>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                            </div>
                            <!-- Footer Menu -->
                            <div class="footer-menu">
                                <nav>
                                    <ul>
                                        <li><a href="#">Home</a></li>
                                        <li><a href="#">About Us</a></li>
                                        <li><a href="#">Doctors</a></li>
                                        <li><a href="#">Services</a></li>
                                        <li><a href="#">News</a></li>
                                        <li><a href="#">Contact</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ***** Footer Area End ***** -->

    <!-- jQuery (Necessary for All JavaScript Plugins) -->
    <script src="js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="js/plugins.js"></script>
    <!-- Active js -->
    <script src="js/active.js"></script>

</body>

</html>
